body{
    text-align: center;
}
table {
    width: 100%;
}

td{
width: 300px;
text-align: center;
}

img{
    width: 300px;
    height: auto;
}

.source{
    text-align: center;
    text-transform: uppercase;
}

#bot_padding{
    padding-bottom: 40px;
}
