<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Meme Finder</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root }};</script>
</head>
<body>

    <div class="page-header">
        <a href="/" id="meme_finder"><B>MEME FINDER</B></a>
        {% if user == None or user == False %}
        <span id="login"><a href="/login_page" id="login_page_link">Login</a></span>
        {% else %}
        <br>
        Welcome {{ user.username }}  <span id="logout"><a href="/logout">Log out</a></span>
        {% endif %}

    </div>
    <hr>

    {% block content %}{% endblock %}

    <hr>
    <p>
        {% if user != None %}
            <a href="/memebox" id="memebox_link">MemeBox</a>
        {% endif %}
        <a href="/about" id="about_link">About</a>

    </p>

</body>

</html>