{% extends "layout.html" %} {% block content %}

<div id="login_table" class="container">

    <h1>Log in/Create account</h1>

    <table>
        <tr>
            <td>Username<input id='username' type='text' name='uname'></td>
        </tr>
        <tr>
            <td>Password<input id='password' type='text' name='pword'></td>
        </tr>
        <tr>
            <td><button id="login_button">Login</button></td>
            <td><button id="create_account">Create Account</button></td>
        </tr>
    </table>

</div>



<script type="text/javascript">
    //creates dictionary object to pass for logging in
    var user_entry = {
        'username': '{{ username }}',
        'password': '{{ password }}'
    };

    // variables to check if user already has added meme to MemeBox
    var login_button_clicked = false;
    var new_user_button_clicked = false;

    $(function() {
        $("login_button").click(function() {

            // If user presses login, check DB for user/pw
            //  if it's successful, redirect to index. If not, alert cause.
            if (this.id == "login_button") {
                $.ajax({
                    url: '/login',
                    data: user_entry,
                    type: 'POST',
                    success: function() {
                        alert('Welcome {{user_entry.username}}');
                    },
                    error: function(error) {
                        alert('Login failed.');
                    }
                }); // ajax end
            }

        });
    });
</script>

{% endblock %}