{% extends "layout.html" %} {% block content %}


<div id="memes" class="container">

    <h1>{{ keyword|upper }}</h1>

    <table>
        <tr>
            <th class="source">{{memes[0].source}}</th>
            <th class="source">{{memes[1].source}}</th>
            <th class="source">{{memes[2].source}}</th>
        </tr>
        <tr>
            <td>
                <a href="{{memes[0].post_link}}"><img src="{{memes[0].img_src}}"></a>
            </td>
            <td>
                <a href="{{memes[1].post_link}}"><img src="{{memes[1].img_src}}"></a>
            </td>
            <td>
                <a href="{{memes[2].post_link}}"><img src="{{memes[2].img_src}}"></a>
            </td>
        </tr>
        <tr>
            <td>{{memes[0].post_title}}</td>
            <td>{{memes[1].post_title}}</td>
            <td>{{memes[2].post_title}}</td>
        </tr>

        <tr>
            <td><button id="{{memes[0].source}} button">I like this meme!</button></td>
            <td><button id="{{memes[1].source}} button">I like this meme!</button></td>
            <td><button id="{{memes[2].source}} button">I like this meme!</button></td>
        </tr>
    </table>

</div>

<script type="text/javascript">
    var giphy_meme_id = {{ memes[0].rowid }}
    var imgur_meme_id = {{ memes[1].rowid }}
    var reddit_meme_id = {{ memes[2].rowid }}


    // variables to check if user already has added meme to MemeBox
    var giphy_button_clicked = false;
    var imgur_button_clicked = false;
    var reddit_button_clicked = false;

    $(function() {
        $("button").click(function() {

            // If user presses I like it button under the giphy meme, post the giphy_meme dictionary
            //  if it's successful, alert that it's added to memebox, otherwise, alert that it's not
            if (this.id == "{{memes[0].source}} button") {

                // if user hasn't saved it/clicked the button, post the dictionary data
                //  and then change the button_clicked to true.
                // It won't add the same meme to MemeBox again

                if (giphy_button_clicked === false) {
                    $.ajax({
                        url: '/meme',
                        data: giphy_meme_id
                        type: 'POST',
                        success: function() {
                            alert('Added to MemeBox');
                        },
                        error: function(error) {
                            alert('NOT Added to MemeBox');
                        }
                    }); // ajax end

                    giphy_button_clicked = true;
                } else {
                    alert('Already added to MemeBox')
                }
            } // if end

            // the same as above but for the button under the imgur meme
            else if (this.id == "{{memes[1].source}} button") {

                if (imgur_button_clicked === false) {
                    $.ajax({
                        url: '/meme',
                        data: imgur_meme_id
                        type: 'POST',
                        success: function() {
                            alert('Added to MemeBox');
                        },
                        error: function(error) {
                            alert('NOT Added to MemeBox');
                        }
                    }); // ajax end

                    imgur_button_clicked = true;
                } else {
                    alert('Already added to MemeBox')
                }
            } // else if end

            // the same as above but for the button under the reddit meme
            else if (this.id == "{{memes[2].source}} button") {

                if (reddit_button_clicked === false) {
                    $.ajax({
                        url: '/meme',
                        data: reddit_meme_id
                        type: 'POST',
                        success: function() {
                            alert('Added to MemeBox');
                        },
                        error: function(error) {
                            alert('NOT Added to MemeBox');
                        }
                    }); // ajax end

                    reddit_button_clicked = true;
                } else {
                    alert('Already added to MemeBox')
                }
            } // else if end

        }); // button click function end
    }); //jquery end
</script>

{% endblock %}