{% extends "layout.html" %}
{% block content %}


    <div class="container">
        <h1>{{keyword}}</h1>
        <table>
            <tr>
                <th>GIPHY</th>
                <th>IMGUR</th>
                <th>REDDIT</th>
            </tr>
            <tr>
                <td><a href="{{giphy_meme_link}}"><img src="{{giphy_meme}}"></a></td>
                <td><a href="{{imgur_meme_link}}"><img src="{{imgur_meme}}"></a></td>
                <td></td>
            </tr>
        </table>

      </div>

{% endblock %}