{% extends "layout.html" %}
{% block content %}


    <div id="memes" class="container">
        <h1>{{keyword}}</h1>

        <table>
            <tr>
                <th class="source">{{giphy_meme.source}}</th>
                <th class="source">{{imgur_meme.source}}</th>
                <th class="source">{{reddit_meme.source}}</th>
            </tr>
            <tr>
                <td><a href="{{giphy_meme.post_link}}"><img src="{{giphy_meme.img_src}}"></a></td>
                <td><a href="{{imgur_meme.post_link}}"><img src="{{imgur_meme.img_src}}"></a></td>
                <td><a href="{{reddit_meme.post_link}}"><img src="{{reddit_meme.img_src}}"></a></td>
            </tr>
            <tr>
                <td>{{giphy_meme.title}}</td>
                <td>{{imgur_meme.title}}</td>
                <td>{{reddit_meme.title}}</td>
            </tr>
            <tr>
                <td>                </td>
                <td>                </td>
                <td>                </td>
            </tr>
        </table>



      </div>

{% endblock %}